.header__logo {
  max-width: 880px;
  margin: 45px 0 0;
  margin-left: 27px;
  padding-bottom: 41px;
  max-height: 33px;
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: 320px) {
  .header__logo {
    max-width: 103.74px;
    margin-left: 27px;
    margin-bottom: 31px;
    max-height: 25px;
  }
}
