.cards__image {
  width: 282px;
  height: 282px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  background-color: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

.cards__image:hover {
  cursor: pointer;
}
